@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Staff Contact App</h1>
    <p>Radfords technical interview - Liam Royal</p>
    <a asp-page="/Staff/Index">App</a>
</div>
